---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[Gewusst wie:] Veröffentlichen und Analysieren der Testergebnisse? | Microsoft-Dokumentation'
author: rick-anderson
description: Visual Studio Team System ermöglicht Diagramm Änderungen Codequalität eines Projekts während des Projekts. Dieses Video enthält eine Anleitung zum publ....
ms.author: aspnetcontent
ms.date: 07/16/2007
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: eb59591d32191ed736786fda236f74b5104ef868
ms.sourcegitcommit: b28cd0313af316c051c2ff8549865bff67f2fbb4
ms.translationtype: MT
ms.contentlocale: de-DE
ms.lasthandoff: 07/05/2018
ms.locfileid: "37833075"
---
<a name="how-do-i-publish-and-analyze-test-results"></a><span data-ttu-id="69b8d-105">[Gewusst wie:] Veröffentlichen und Analysieren der Testergebnisse?</span><span class="sxs-lookup"><span data-stu-id="69b8d-105">[How Do I:] Publish and Analyze Test Results?</span></span>
====================
<span data-ttu-id="69b8d-106">durch [Chris Menegay](https://twitter.com/CMenegay)</span><span class="sxs-lookup"><span data-stu-id="69b8d-106">by [Chris Menegay](https://twitter.com/CMenegay)</span></span>

<span data-ttu-id="69b8d-107">Visual Studio Team System ermöglicht Diagramm Änderungen Codequalität eines Projekts während des Projekts.</span><span class="sxs-lookup"><span data-stu-id="69b8d-107">Visual Studio Team System enables you to chart changes in a project's code quality as the project progresses.</span></span> <span data-ttu-id="69b8d-108">Dieses Video enthält eine Anleitung zum Veröffentlichen von Testergebnissen mit der Team Foundation Server-Datenbank-Projekt, und ordnen Sie die Ergebnisse einer Buildnummer.</span><span class="sxs-lookup"><span data-stu-id="69b8d-108">This video provides instructions on how to publish test results to the Team Foundation Server project database and associate the results with a build number.</span></span> <span data-ttu-id="69b8d-109">Sehen Sie, dass wir nach dem die Ergebnisse veröffentlicht werden der Berichts-Manager verwenden können, um eine grafische Darstellung der Änderungen in unsere Testergebnisse des Builds anzuzeigen.</span><span class="sxs-lookup"><span data-stu-id="69b8d-109">We see that after the results are published we can use the Report Manager to view a graphical representation of changes in our build test results.</span></span>

[<span data-ttu-id="69b8d-110">&#9654;Sehen Sie sich Video (7 Minuten)</span><span class="sxs-lookup"><span data-stu-id="69b8d-110">&#9654; Watch video (7 minutes)</span></span>](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> <span data-ttu-id="69b8d-111">[Zurück](how-do-i-use-generic-tests.md)
> [Weiter](how-do-i-discover-application-changes-prior-to-deployment.md)</span><span class="sxs-lookup"><span data-stu-id="69b8d-111">[Previous](how-do-i-use-generic-tests.md)
[Next](how-do-i-discover-application-changes-prior-to-deployment.md)</span></span>
