---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[Gewusst wie:] Veröffentlichen und Analysieren der Testergebnisse? | Microsoft-Dokumentation'
author: rick-anderson
description: Visual Studio Team System ermöglicht es Ihnen Diagramm ändert sich in einem Projekt Codequalität im Verlauf des Projekts. Dieses Video bietet eine Anleitung zum publ....
ms.author: aspnetcontent
manager: wpickett
ms.date: 07/16/2007
ms.topic: article
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
ms.technology: dotnet-webforms
ms.prod: .net-framework
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: be3ff525ae5010e3df9f5e33c2c9b5c4f3701226
ms.sourcegitcommit: f8852267f463b62d7f975e56bea9aa3f68fbbdeb
ms.translationtype: MT
ms.contentlocale: de-DE
ms.lasthandoff: 04/06/2018
---
<a name="how-do-i-publish-and-analyze-test-results"></a><span data-ttu-id="7f07d-105">[Gewusst wie:] Veröffentlichen und Analysieren der Testergebnisse?</span><span class="sxs-lookup"><span data-stu-id="7f07d-105">[How Do I:] Publish and Analyze Test Results?</span></span>
====================
<span data-ttu-id="7f07d-106">durch [Chris Menegay](https://twitter.com/CMenegay)</span><span class="sxs-lookup"><span data-stu-id="7f07d-106">by [Chris Menegay](https://twitter.com/CMenegay)</span></span>

<span data-ttu-id="7f07d-107">Visual Studio Team System ermöglicht es Ihnen Diagramm ändert sich in einem Projekt Codequalität im Verlauf des Projekts.</span><span class="sxs-lookup"><span data-stu-id="7f07d-107">Visual Studio Team System enables you to chart changes in a project's code quality as the project progresses.</span></span> <span data-ttu-id="7f07d-108">Dieses Video bietet eine Anleitung zum Veröffentlichen von Testergebnissen mit der Datenbank der Team Foundation Server-Projekt, und ordnen Sie die Ergebnisse einer Buildnummer.</span><span class="sxs-lookup"><span data-stu-id="7f07d-108">This video provides instructions on how to publish test results to the Team Foundation Server project database and associate the results with a build number.</span></span> <span data-ttu-id="7f07d-109">Sehen Sie, dass wir nach der Veröffentlichung die Ergebnisse sind der Berichts-Manager verwenden können, um eine grafische Darstellung der Änderungen in unsere Testergebnisse Build anzuzeigen.</span><span class="sxs-lookup"><span data-stu-id="7f07d-109">We see that after the results are published we can use the Report Manager to view a graphical representation of changes in our build test results.</span></span>

[<span data-ttu-id="7f07d-110">&#9654;Sehen Sie sich an (7 Minuten)</span><span class="sxs-lookup"><span data-stu-id="7f07d-110">&#9654; Watch video (7 minutes)</span></span>](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> <span data-ttu-id="7f07d-111">[Zurück](how-do-i-use-generic-tests.md)
> [Weiter](how-do-i-discover-application-changes-prior-to-deployment.md)</span><span class="sxs-lookup"><span data-stu-id="7f07d-111">[Previous](how-do-i-use-generic-tests.md)
[Next](how-do-i-discover-application-changes-prior-to-deployment.md)</span></span>
