---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: "[Gewusst wie:] Veröffentlichen und Analysieren der Testergebnisse? | Microsoft-Dokumentation"
author: rick-anderson
description: "Visual Studio Team System ermöglicht es Ihnen Diagramm ändert sich in einem Projekt Codequalität im Verlauf des Projekts. Dieses Video bietet eine Anleitung zum publ...."
ms.author: aspnetcontent
manager: wpickett
ms.date: 07/16/2007
ms.topic: article
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
ms.technology: dotnet-webforms
ms.prod: .net-framework
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: 3f9d94e2fbbb53679b5af1d2f2a4abe1866f9e58
ms.sourcegitcommit: 9a9483aceb34591c97451997036a9120c3fe2baf
ms.translationtype: MT
ms.contentlocale: de-DE
ms.lasthandoff: 11/10/2017
---
<a name="how-do-i-publish-and-analyze-test-results"></a>[Gewusst wie:] Veröffentlichen und Analysieren der Testergebnisse?
====================
durch [Chris Menegay](https://twitter.com/CMenegay)

Visual Studio Team System ermöglicht es Ihnen Diagramm ändert sich in einem Projekt Codequalität im Verlauf des Projekts. Dieses Video bietet eine Anleitung zum Veröffentlichen von Testergebnissen mit der Datenbank der Team Foundation Server-Projekt, und ordnen Sie die Ergebnisse einer Buildnummer. Sehen Sie, dass wir nach der Veröffentlichung die Ergebnisse sind der Berichts-Manager verwenden können, um eine grafische Darstellung der Änderungen in unsere Testergebnisse Build anzuzeigen.

[&#9654; Sehen Sie sich an (7 Minuten)](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

>[!div class="step-by-step"]
[Zurück](how-do-i-use-generic-tests.md)
[Weiter](how-do-i-discover-application-changes-prior-to-deployment.md)
