---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[Gewusst wie:] Veröffentlichen und Analysieren der Testergebnisse? | Microsoft-Dokumentation'
author: rick-anderson
description: Visual Studio Team System ermöglicht Diagramm Änderungen Codequalität eines Projekts während des Projekts. Dieses Video enthält eine Anleitung zum publ....
ms.author: aspnetcontent
ms.date: 07/16/2007
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: eb59591d32191ed736786fda236f74b5104ef868
ms.sourcegitcommit: b28cd0313af316c051c2ff8549865bff67f2fbb4
ms.translationtype: MT
ms.contentlocale: de-DE
ms.lasthandoff: 07/05/2018
ms.locfileid: "37833075"
---
<a name="how-do-i-publish-and-analyze-test-results"></a>[Gewusst wie:] Veröffentlichen und Analysieren der Testergebnisse?
====================
durch [Chris Menegay](https://twitter.com/CMenegay)

Visual Studio Team System ermöglicht Diagramm Änderungen Codequalität eines Projekts während des Projekts. Dieses Video enthält eine Anleitung zum Veröffentlichen von Testergebnissen mit der Team Foundation Server-Datenbank-Projekt, und ordnen Sie die Ergebnisse einer Buildnummer. Sehen Sie, dass wir nach dem die Ergebnisse veröffentlicht werden der Berichts-Manager verwenden können, um eine grafische Darstellung der Änderungen in unsere Testergebnisse des Builds anzuzeigen.

[&#9654;Sehen Sie sich Video (7 Minuten)](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> [Zurück](how-do-i-use-generic-tests.md)
> [Weiter](how-do-i-discover-application-changes-prior-to-deployment.md)
